.root {
  position: relative;
  display: block;
  border: 1px solid var(--color16);
  border-radius: 14px;
  overflow: hidden;
}

.typeReply {
  margin-left: 17px;

  @media (pointer: coarse) and (max-width: 768px) {
    margin-left: 0;
  }
}

.controlPanel {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 8px;
  border-bottom: 1px solid var(--color16);
}

.fieldWrapper {
  position: relative;
}

.field {
  /* font-size * line-height * lines * vertical-padding */
  --height: calc(14px * 1.4 * 4 + 10px * 2);

  display: block;
  box-sizing: border-box;
  width: 100%;
  height: var(--height);
  min-height: var(--height);
  padding: 10px 12px;
  margin: 0;
  font-size: 14px;
  line-height: 1.4;
  border: 0;
  background: transparent;
  resize: none;
  overflow: hidden;
  backface-visibility: hidden;
  transform: translateZ(0);

  &:focus {
    box-shadow: inset 0 0 0 2px var(--color47);
    outline: none;
  }

  &:disabled {
    color: var(--color10);
  }
}

.counter {
  position: absolute;
  right: 4px;
  bottom: 4px;
  font-size: 10px;
  font-weight: 700;
  color: var(--color38);
}

.error {
  margin: 0;
  padding: 10px 12px;
  font-size: 14px;
  line-height: 18px;
  border-top: 1px solid var(--color16);
}

.actions {
  display: flex;
  align-items: center;
  padding: 12px;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 30px;
  gap: 12px;
  border-top: 1px solid var(--color16);
}

.button {
  margin-right: 8px;
  align-self: flex-start;

  &:last-child {
    margin-right: 0;
  }
}

.rss {
  font-size: 12px;
  line-height: 1;
}

.previewWrapper {
  overflow: hidden;
  border-top: 1px solid var(--color16);
}

.preview {
  margin: 0;
  padding: 10px 12px;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.2;
}

.markdownHint {
  margin-left: auto;
  padding-left: 8px;
  color: var(--color10);
  font-size: 11px;
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    color: var(--color9);
  }
}

.themeDark {
  border-color: var(--color36);
  background: var(--color8);

  & .controlPanel {
    border-bottom-color: var(--color36);
  }

  & .error {
    background: var(--color28);
    color: var(--color27);
    border-top-color: var(--color36);
  }

  & .field {
    color: var(--color20);
  }

  & .preview {
    background: var(--color8);
    color: var(--color20);
  }

  & .previewWrapper,
  & .actions {
    border-top-color: var(--color36);
  }
}

.themeLight {
  border-color: var(--color16);
  background: var(--color6);

  & .error {
    background: var(--color26);
    color: var(--color25);
  }

  & .field {
    color: var(--color0);
  }

  & .preview {
    background: var(--color6);
    color: var(--color7);
  }
}
