:root {
  --color0: #18181b;
  --color8: #22222c;
  --color22: #26262f;
  --color24: #26262f;
  --color7: #27272a;
  --color23: #2e2e39;
  --color18: #2a2a35;
  --color19: #33333f;
  --color36: #3f3f46;
  --color34: #52525b;
  --color37: #52525b;
  --color14: #63636c;
  --color10: #71717a;
  --color13: #7a7a85;
  --color11: #94949f;
  --color32: #a1a1aa;
  --color1: #a1a1aa;
  --color35: #e4e4e7;
  --color20: #e4e4e7;
  --color46: rgba(24, 24, 27, 0.15);
  --color45: rgba(0, 0, 0, 0.1);
  --color41: #f4f4f5;
  --color5: #f4f4f5;
  --color44: rgba(255, 255, 255, 0.3);
  --color6: #fff;
  --color3: #f3eefc;
  --color4: #f7f3fd;
  --color16: #e4e4e7;
  --color31: #d4d4d8;
  --color21: #f9f7fd;
  --color29: #6d28d9;
  --color9: #8b5cf6;
  --color15: #7c3aed;
  --color33: #a78bfa;
  --color40: #ddd6fe;
  --color43: #e9e0fc;
  --color42: #f3eefc;
  --color48: rgba(139, 92, 246, 0.6);
  --color47: rgba(139, 92, 246, 0.4);
  --color28: #7f1d1d;
  --color25: #991b1b;
  --color38: #dc2626;
  --color27: #f87171;
  --color26: #fee2e2;
  --color30: 220, 38, 38;
  --color12: 22, 163, 74;

  /* code-highlight */
  --chroma-bg: rgba(0, 0, 0, 0.05);
  --chroma-base: #586e75;
  --chroma-c: #7d7d7d;
  --chroma-01: #589000;
  --chroma-02: #cb4b16;
  --chroma-03: #268bd2;
  --chroma-04: #2aa198;
  --chroma-05: #859900;
  --chroma-06: #d33682;
  --chroma-07: #00aee2;

  /* Named variables */
  --primary-color: 139, 92, 246;
  --primary-brighter-color: 167, 139, 250;
  --primary-darker-color: 109, 40, 217;
  --primary-text-color: 24, 24, 27;
  --secondary-text-color: 113, 113, 122;
  --secondary-darker-text-color: 161, 161, 170;
  --primary-background-color: 255, 255, 255;
  --black-color: 0, 0, 0;
  --white-color: 255, 255, 255;
  --error-color: #dc2626;
  --error-background: #fee2e21f;
  --line-color: var(--color16);
  --line-brighter-color: var(--color31);
  --text-color: var(--black-color);
  --transparent: transparent;
}

:root .dark {
  --line-color: var(--color36);
  --primary-color: 167, 139, 250;
  --primary-brighter-color: 232, 121, 249;
  --primary-text-color: 241, 245, 249;
  --primary-background-color: 26, 26, 34;
  --secondary-text-color: 148, 148, 159;
  --error-color: #f87171;
  --line-brighter-color: var(--color11);
  --text-color: var(--white-color);
}
